<section class="add__container container">
  <div class="container_principal">
    <div class="add__image_upload">
      <div class="add__title_dogs">
        <p>Adicionar um cachorro</p>
      </div>
      <div class="add__dogs__card">
        <div>
        </div>
        <img [src]="imagePhoto" alt="">
          <p>clique para selecionar uma imagem</p>
        <div>
          <button class="btn__add__image">Enviar foto</button>
        </div>

      </div>
    </div>

    <div class="container__dogs_add_image container">
      <h1 class="my-images">Minhas Imagens</h1>
      <div class="dogs__show">
      <article class="dogs__list">
        <div class="dogs__card">
          <img src="/assets/dog.png" alt="">
        </div>
      </article>
      <article class="dogs__list">
        <div class="dogs__card">
          <img src="/assets/dog.png" alt="">
        </div>
      </article>
      <article class="dogs__list">
        <div class="dogs__card">
          <img src="/assets/dog.png" alt="">
        </div>
      </article>
      <article class="dogs__list">
        <div class="dogs__card">
          <img src="/assets/dog.png" alt="">
        </div>
      </article>
      <article class="dogs__list">
        <div class="dogs__card">
          <img src="/assets/dog.png" alt="">
        </div>
      </article>
      <article class="dogs__list">
        <div class="dogs__card">
          <img src="/assets/dog.png" alt="">
        </div>
      </article>
    </div>
    </div>
  </div>

</section>

