<div class="bg-white">
  <nav class="container bg-white">
    <ul>
      <p>Raça:</p>

      <li>
        <select name="dogs" id="dogs">
          <option>Todas</option>
        </select>
      </li>
      <li *ngIf="showPerfil" (click)="handleTradeNav()">
        <a class="btn-perfil" [routerLink]="['/perfil']"> <fa-icon class="img-perfil" [icon]="faUser"></fa-icon>
          Perfil
        </a>
      </li>
      <ng-template #ngHome>
        <li *ngIf="showHome">
          <a class="btn-perfil" [routerLink]="['/']"> <fa-icon class="img-perfil" [icon]="faHouse"></fa-icon>>Home</a>
        </li>
      </ng-template>
    </ul>
  </nav>
</div>