<div class="bg-white">
  <nav class="container bg-white">
    <ul>
      <p>Raça:</p>

      <li>
        <select name="dogs" id="dogs">
          <option>Todas</option>
        </select>
      </li>
      <li *ngIf="showPerfil" (click)="handleTradeNav()">
        <a class="btn-perfil" [routerLink]="['/perfil']"> <img class="img-perfil" src="assets/images/perfil.png" alt="">
          Perfil
        </a>
      </li>
      <ng-template #ngHome>
        <li *ngIf="showHome" >
          <a class="btn-perfil" [routerLink]="['/']"><img class="img-perfil" src="/assets/home.png" alt="">Home</a>
        </li>
      </ng-template>
    </ul>
  </nav>
</div>


