
<section class="dogs__container container" >

<div class="dogs__show">
  <article class="dogs__list" *ngFor="let dog of dogs">
    <div class="dogs__card">
      <img [src]="dog.url">
      <div class="dogs__title__name__dog">
        <p>./breeds</p>
      </div>
      <div class="dogs__title__age__dog">
        <p>12 - 15 anos</p>
      </div>
    </div>
  </article>


</div>

  <div>
    <ul>
      <li>
        <p class="btn__p">Página: {{page}}</p>
      </li>
      <li>
        <div class="btn__avançar__voltar">
        <button class="btn__button"><img class="btn__img" src="/assets/setaesquerda.png" alt=""></button>
        <img src="/assets//Line.png" alt="">
        <button class="btn__button" (click)="nextPage()"><img class="btn__img" src="/assets/setadireita.png" alt=""></button>
    </div>
  </li>
    </ul>


</div>
</section>
