<nav>
  <ul>
    <p>Raça:</p>
    <li>
      <select name="dogs" id="dogs">
        <option value="volvo">Todas</option>
      </select>
    </li>
    <li>
      <a><button class="btn-perfil"><img class="img-perfil" src="/assets/perfil.png" alt="">Perfil</button></a>
    </li>
  </ul>
</nav>
<section class="dogs__container">

<div class="dogs__show">
  <article class="dogs__list">
    <div class="dogs__card">
      <img src="/assets/dog.png" alt="">
      <div class="dogs__title__name__dog">
        <p>Chinook</p>
      </div>
      <div class="dogs__title__age__dog">
        <p>12 - 15 anos</p>
      </div>
    </div>
  </article>
  <article class="dogs__list">
    <div class="dogs__card">
      <img src="/assets/dog.png" alt="">
      <div class="dogs__title__name__dog">
        <p>Chinook</p>
      </div>
      <div class="dogs__title__age__dog">
        <p>12 - 15 anos</p>
      </div>
    </div>
  </article>
  <article class="dogs__list">
    <div class="dogs__card">
      <img src="/assets/dog.png" alt="">
      <div class="dogs__title__name__dog">
        <p>Chinook</p>
      </div>
      <div class="dogs__title__age__dog">
        <p>12 - 15 anos</p>
      </div>
    </div>
  </article>
  <article class="dogs__list">
    <div class="dogs__card">
      <img src="/assets/dog.png" alt="">
      <div class="dogs__title__name__dog">
        <p>Chinook</p>
      </div>
      <div class="dogs__title__age__dog">
        <p>12 - 15 anos</p>
      </div>
    </div>
  </article>
  <article class="dogs__list">
    <div class="dogs__card">
      <img src="/assets/dog.png" alt="">
      <div class="dogs__title__name__dog">
        <p>Chinook</p>
      </div>
      <div class="dogs__title__age__dog">
        <p>12 - 15 anos</p>
      </div>
    </div>
  </article>
  <article class="dogs__list">
    <div class="dogs__card">
      <img src="/assets/dog.png" alt="">
      <div class="dogs__title__name__dog">
        <p>Chinook</p>
      </div>
      <div class="dogs__title__age__dog">
        <p>12 - 15 anos</p>
      </div>
    </div>
  </article>
  <article class="dogs__list">
    <div class="dogs__card">
      <img src="/assets/dog.png" alt="">
      <div class="dogs__title__name__dog">
        <p>Chinook</p>
      </div>
      <div class="dogs__title__age__dog">
        <p>12 - 15 anos</p>
      </div>
    </div>
  </article>
  <article class="dogs__list">
    <div class="dogs__card">
      <img src="/assets/dog.png" alt="">
      <div class="dogs__title__name__dog">
        <p>Chinook</p>
      </div>
      <div class="dogs__title__age__dog">
        <p>12 - 15 anos</p>
      </div>
    </div>
  </article>
</div>
</section>
